/*Mobile View < 35rem*/
/*Globals*/
* {
	box-sizing: border-box;
}

html{
	font-size: 16px;
	font-family: 'Cormorant Garamond', serif;
	background-color: #fff;
	color: #05386b;
}

body{
	color: #05386b;
	font-size: 1rem;
	margin: 0;
	line-height: 1.5;
}

a{
	color: #05386b;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
}

img{
	max-width: 100%;
	height: auto;
}

/*Header*/
header ul{
	background-color: #222222;
	border: 0;
    box-shadow: 0px 0px 5px;
    text-align: left;
    padding: 2rem;
    padding-top: 1rem;
    margin-top: 0;
}

header  ul li{
	list-style-type: none;
	display: inline-block;
}

header ul li.logo{
    display: block;
    margin-bottom: 1rem;
}

header ul li.logo img{
	    height: 64px;
    vertical-align: middle;
}

header .navbar-default .navbar-nav>li>a{
	color: #05386b;
}

header button.btn {
    border: 0;
    border-radius: 4px;
    padding: 1rem 3rem;
    margin: 0 0.5rem;
}
header navmenu {
    border: 0;
    border-radius: 4px;
    padding: 1rem 3rem;
    margin: 0 0.5rem;
}

header button#active{
	    background: #F5E70D;
}

header .navbar-default .navbar-nav>.active>a{
	background-color: #2aff94;
}

/*main content*/
section article.main-content img{
	width: 100%;
	height: 330px;
	-o-object-fit: cover;
	   object-fit: cover;
}

section.masthead{
	    background-image: url(../img/bg.jpg);
    background-size: cover;
    color: #3244A8;
    margin-top: -2rem;
    padding: 2rem;
    text-align: center;
}

section article.main-content > h1{
	margin-bottom: 2rem;
}

section article.main-content div.alert{
	font-size: 1rem;
}

section article.main-content{
	max-width: 70rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    background-color: #fff;
    color: #05386b;
    box-shadow: 0px 2px 5px #333;
}


section article.main-content button#active-button{
	background-color: #05386b;
	outline: 0;

	border-color: #05386b;
}

section article.main-content .row.content p{
	padding-top: 1rem;
}

.panel-body {
    padding: 15px;
    font-size: 1rem;
}

section article.main-content img{
	    float: left;
    
    padding-bottom: 1rem;
    -o-object-fit: cover;
       object-fit: cover;
}


/*grid for portfolio page*/
.grid-container{
	display: -ms-grid;
	display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-column-align: center;
        justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.grid-container figure{
	margin: 0;
}

.grid-container figure img{
	float: none!important;
	padding: 0!important;
}

/*footer*/
footer{
	padding: 2rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

footer article a{
	margin-right: 0.5rem;
}


footer article a:last-child{
	margin-right: 0;
}

footer article i.fa{
	font-size: 1.5rem;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, #ffa4bd 0%, #ffa4bd 100%);
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/*35rem < Tablet View < 80rem*/
@media (min-width: 35rem) and (max-width: 80rem) {

	body{
		font-size: 1rem;
	}


	header ul li.logo{
	    display: inline-block;
	    margin-bottom: 0;
	}

	section article.main-content .row.content p{
		padding-top: 0;
	}


	section article.main-content img{
		width: 250px;
		height: 250px;
		padding-right: 1rem;
	}
header ul {
    background-color: #222222;
    border: 0;
    box-shadow: 0px 0px 5px;
    text-align: center;
    padding: 2rem;
    padding-top: 1rem;
    margin-top: 0;
}
	.grid-container{
		display: -ms-grid;
		display: grid;
	    -ms-grid-columns: 1fr 1fr;
	        grid-template-columns: 1fr 1fr;
	    -ms-grid-rows: 1fr 1fr 1fr;
	        grid-template-rows: 1fr 1fr 1fr;
	    grid-column-gap: 10px;
	    grid-row-gap: 10px;
	    -ms-grid-column-align: center;
	        justify-items: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
}

/*Desktop View > 80rem*/
@media (min-width: 80rem) {

	body{
		font-size: 1.25rem;
	}
	
	.grid-container{
		display: -ms-grid;
		display: grid;
	    -ms-grid-columns: 1fr 1fr 1fr;
	        grid-template-columns: 1fr 1fr 1fr;
	    -ms-grid-rows: 1fr 1fr;
	        grid-template-rows: 1fr 1fr;
	    grid-column-gap: 20px;
	    grid-row-gap: 20px;
	    -ms-grid-column-align: center;
	        justify-items: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
header ul {
    background-color: #222222;
    border: 0;
    box-shadow: 0px 0px 5px;
    text-align: left;
    padding: 2rem;
    padding-top: 1rem;
    margin-top: 0;
}

	header ul li.logo{
	    display: inline-block;
	    margin-bottom: 0;
	}

	section article.main-content .row.content p{
		padding-top: 0;
	}


	section article.main-content img{
		width: 350px;
		padding-right: 1rem;
	}
}
.contactform h2 {
        font-size: 1.8em;
    }
    form {
        grid-column: 1/span 2;
        grid-row: 4/span 4;
        width: 90%;
    }
    input[type=text], textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 8px;
        resize: vertical;
        background-color: rgba(0,99,65,0.1);
    }
    .submitBox {
        text-align: left;
        margin: 0px 0px 0px 20px;
    }
    hr {
        grid-column: 3/span 1;
        grid-row: 4/span 4;
        height: 2px;
        width: 2%;
        height: 80%;
        color: darkgreen;
        background-color:green;
    }
    .cntExtra {
        grid-column: 4/span 1;
        grid-row: 5/span 2;
        
    }
    .appNow,
    .genEnq,
    .profInfo {
        font-size: 1.1em;
    }

    