<div class="about-section">

  <p align="center">Specialized in your future creative content</p>
</div>

<h2 style="text-align:center">CAN CONVERT IDEAS TO REAL SCENES</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/portfolio/ayoub.jpg" alt="Mohammad Ayoub" style="width:100%">
      <div class="container">
        <h2 align="center">Mohammad Ayoub</h2>
        <p class="title" align="center">CEO & Founder</p>
        <p align="center">Mohammad Ayoub</p>
<a href="mailto:shushev@hotmail.com"><p style="text-align:center">Email Me</a>  
        <p align="center"><a href="./resume.pdf">View Resume</a>
      </div>
    </div>
  </div>

  

 
    </div>
  </div>
</div>