<div class="background">
<form method="get" autocomplete="on" class="contactForm">
            
                    <div class="fname">
                        <div class="labl">
                            <label for="fname">First Name</label>
                        </div>
                        <br>
                        <div class="iput">
                            <input type="text" id="fname" name="fname" value="">
                        </div>
                    </div>
                    <br>
                    <div class="lname">
                        <div class="labl">
                            <label for="lname">Last Name</label>
                        </div>
                        <br>
                        <div class="iput">
                            <input type="text" id="lname" name="lname" value="">
                        </div>
                    </div>
                    <br>
                    <div class="email">
                       <div class="labl">
                           <label for="email">Email</label>
                       </div>
                        <br>
                        <div class="iput">
                            <input type="text" id="email" name="email" value="">
                        </div>
                    </div>
                    <br>
                    <div class="message">
                       <div class="labl">
                        <label for="message">Message</label>
                       </div>
                        <br>
                        <div class="iput">
                            <textarea id="message" name="message" rows="8"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="submitBox">
                        <input type="submit" name="submit-button" id="submit" value="SEND" class="submit">
                    </div>
            </form>
</div>
