<div class="row content">
				<h2>Graphic Design</h2>
				<img src="img/portfolio/graphicdesign.jpg">
				<p>Graphic design is about being creative. Thinking creatively and have a great imagination and converting ideas to digital designed arts. My knoweldge in graphic design came from a free lancing experincing and working with national and governmental entities. 
                    <br><br>
                Managed graphic design projects within a team. Worked closely with marketing clients to ensure that the outputs are achieved. <br> Worked with designing softwares like: Adobe Master collection, Built-in Softwares, and Smartdraw software.
                    
                
                </p>
              


				<hr>
				<h2>Videography</h2>
				<img src="img/portfolio/videography.jpg">
				<p>Videography is my passion and a part of my future job. I worked side to side with experinced videographers and understood the angels from different perspective as required for the job. I also was assessing in evaluating the shot quality to be provided to the production team. 
                
                <br> <br>
                Now I am a dependable photographer with more than 7 experience of erxperience. Skilled in landing shots with Drone up to 300 Meter. Have done projects for: Music, weddings, Vlogs, and commercial videos.
                <br>
<br>
				<hr>
				<h2>Photography</h2>
				<img src="img/portfolio/photography.jpg">
				<p>Photography for me is to choose the best time and place with applying the best settings to get the best out of the camera for shot. 
                
I am dedicated camera man with lots of experince started by the freelancing jobs. Worked side by side with clients and provided a great shots that meets the client needs. Got 2 awards for having the best shot in 2 different competitons. Able to work with most kind of cameras and now experincing a mobile advanced cameras.
                    <br>
                    <br>
                    <br>
			</div>